* {
    margin: 0;
    font-family: Plus, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@font-face {
    font-family: Ubuntu;
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Plus;
    src: url(/assets/fonts/MPLUS1-Regular.ttf);
}

h1{
    font-family: Ubuntu, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

h2 {
    font-family: Ubuntu, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 24pt;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color:rgb(255, 255, 255);
    border: 0;
    font-weight: bolder;
    padding: 10px;
    font-family: Ubuntu,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button:hover {
    color: black;
    background-color: white;
    border-radius: 10px;

}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(18, 65, 173);
    box-shadow: 0px 2px 5px;
}

.flex-header-right {
    flex: 245px;
    text-align: center;
}

.flex-header-left {
    flex: 70%;
    align-self: center;
    padding-left: 25px;
}

main {
    padding: 20px;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
}

.about-header {
    color: rgb(18, 65, 173);
}

.about-content {
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: center;
}

.about-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    align-self: center;
    border-radius: 50%;
    box-shadow: 3px 3px 5px ;
}

.about-biodata {
    padding: 0 40px ;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.about-biodata > p {
    margin: 10px 0;
}

.about-description {
    margin: 30px 20%;
    text-align: center;
}

.about-social-icon {
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 20%;
    box-shadow: 3px 3px 5px grey;
}

.about-social-icon:hover {
    background-color: rgba(189, 189, 189, 0.212);
}

footer {
    background-color: rgb(88, 88, 88);
    padding: 10px;
    color: rgb(189, 189, 189);
}

.flex-footer-content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.flex-footer-content > p {
    margin-bottom: 20px;
}

.footer-end {
    font-size: 8pt;
    color: white;
    margin: 0;
    background-color: rgb(18, 65, 173);
    text-align: center;
}

.footer-end > p > img {
    width: 14px;
}

#about, #social {
    padding-top: 100px;
}