* {
    margin: 0;
    font-family: Plus, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Ubuntu;
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Plus;
    src: url(/assets/fonts/MPLUS1-Regular.ttf);
}

h1{
    font-family: Ubuntu, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

h2 {
    font-family: Ubuntu, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 24pt;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color:rgb(255, 255, 255);
    border: 0;
    font-weight: bolder;
    padding: 10px;
    font-family: Ubuntu,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button:hover {
    animation-name: background-transition;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes background-transition {
    0% {
        color: #1241ad;
        border-radius: 20px;
    }
    100% {
        color: #1241ad;
        background-color: white;
        border-radius: 10px;
    }
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    background: linear-gradient(-90deg, #128ead, #3112ad);
    box-shadow: 0 0 5px;
}

.flex-header-right {
    flex: auto;
    text-align: center;
}

.flex-header-left {
    padding-left: 20px;
    flex: 70%;
    align-self: center;
}

main {
    padding: 0 20px;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
}

.about-header {
    color: rgb(18, 65, 173);
}

.about-content {
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: center;
}

.about-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    align-self: center;
    border-radius: 50%;
    box-shadow: 3px 3px 5px ;
}

.about-biodata {
    padding: 0 40px ;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.about-biodata > p {
    margin: 10px 0;
}

.about-description {
    margin: 30px 10%;
    text-align: center;
}

.about-social-icon {
    width: 100px;
    height: 100px;
    margin: 30px;
}

.about-social-icon:hover {
    animation-name: social-account-transition;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes social-account-transition {
    0% {
        background-color: white;
        border-radius: 20%;
    }
    100% {
        background-color: white;
        border-radius: 20%;
        box-shadow: 3px 3px 6px rgb(56, 56, 56);
    }
}

footer {
    background-color: rgb(88, 88, 88);
    padding: 10px;
    color: rgb(189, 189, 189);
}

.flex-footer-content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.flex-footer-content > p {
    margin-bottom: 20px;
}

.footer-end {
    font-size: 8pt;
    color: white;
    margin: 0;
    background-color: rgb(18, 65, 173);
    text-align: center;
}

.footer-end > p > img {
    width: 14px;
}

#about, #social, #project {
    padding-top: 100px;
}